
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="loginForm">

       
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="username">
    
        <label for="password"> Password</label>
        <input type="text" id="password" [(ngModel)]="password">
    
        <label for="username">Name</label>
        <input type="text" id="username" [(ngModel)]="name">
    
        <label for="password"> Lastname</label>
        <input type="text" id="password" [(ngModel)]="lastName">

        <button type="button" (click)="login()">Submit</button>
       
        
    </div>

    
</body>
</html>