.loginForm {
  background-color: aquamarine;
  display: flex;
  /*
  align on cross axis
  */
  align-items: flex-end;
  /*
  align on main axis
  */
  justify-content: center;
}
body {
  background-color: red;
}
